@font-face {
    font-family: Arial;
    src: url();
}

@keyframes flashingredtext {
    0%{
        color: darkred;
        font-size: 2em;
    }
    50%{
        color: red;
        font-size: 3em;
    }
    100%{
        color: darkred;
        font-size: 2em;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

h1{
    animation: flashingredtext 5s linear infinite;
}

#shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  

  
  #missile{
    animation: shake 0.3s;
    animation-iteration-count: infinite;
  }

  #timer{
    text-align: center;
    size: 64px;
    padding-top: 1em;
    color: red;
    
  }

  h3{
    size: 3em;
  }

  #loooong{
    margin-top: 5em;
  }